<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script>
function doit() {
var x = document.getElementById("doodad");
//.document.plugins.whatever
x.click();
x.setActive();
x.focus();
x.print();
}
</script>
</head>
<body>
<embed id="doodad"
	src="D:\Documents and
Settings\ron\Desktop\eth_cli.pdf" width="550"
	&;nbsp;height="550" name="whatever"></embed>
<button onclick="doit()">howdy</button>
</body>
</html>