<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="ePortDB">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="connection.useUnicode">true</property>
		<property name="connection.characterEncoding">UTF-8</property>
		<property name="hbm2ddl.auto">create</property>	
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/eportdb</property>
		<mapping resource="com/xmhuanyu/eport/entity/BankRate.hbm.xml" />
		<mapping resource="com/xmhuanyu/eport/entity/CIQDepart.hbm.xml" />
		<mapping resource="com/xmhuanyu/eport/entity/Employee.hbm.xml" />
		<mapping resource="com/xmhuanyu/eport/entity/OrderInfo.hbm.xml" />
		<mapping resource="com/xmhuanyu/eport/entity/ParkingBay.hbm.xml" />
		<mapping resource="com/xmhuanyu/eport/entity/PriceEntry.hbm.xml" />
		<mapping resource="com/xmhuanyu/eport/entity/SysUser.hbm.xml" />
	</session-factory>
</hibernate-configuration>
